<div class="modal-header">
    <h4 class="modal-title">
        <span *ngIf="!isEditMode">{{'add_user' | translate }}</span>
        <span *ngIf="isEditMode">{{'edit_post' | translate }}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #userForm="ngForm" (ngSubmit)="onClickSaveBtn()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'user_name' | translate }}
                        <i class="star">*</i>
                    </label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.userName" name="userName" #userName="ngModel"
                        (ngModelChange)="onChangeNameValue(model.id, model.userName)">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(userName)">
                        {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'password' | translate }}
                        <i class="star">*</i>
                    </label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.password" name="password" minlength="8" #password="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(password)">
                        {{ "is_required" | translate }}
                    </small>
                    <small class="form-text error" *ngIf="helperService.isLessThanMinLength(password)">
                        {{ "password_min_length_error" | translate }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'first_name' | translate }}
                        <i class="star">*</i>
                    </label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(firstName)">
                        {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'last_name' | translate }}
                        <i class="star">*</i>
                    </label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.lastName " name="lastName " #lastName="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(lastName)">
                        {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'phoneNumber' | translate }}
                        <i class="star">*</i>
                    </label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.phoneNumber" name="phoneNumber" #phoneNumber="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(phoneNumber)">
                        {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'role' | translate }}
                        <i class="star">*</i>
                    </label>
                    <select class="form-control" [(ngModel)]="selectedRole" name="roleName" #roleName="ngModel">
                        <option [ngValue]="role" *ngFor="let role of allRoles | sort:'index' ">{{ helperService.toLowercase(role.name) | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'address' | translate }}
                        <i class="star">*</i>
                    </label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.address" name="address" #address="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(address)">
                        {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'email' | translate }}
                        <i class="star">*</i>
                    </label>
                    <input type="text" class="form-control" required [(ngModel)]="model.email" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(email)">
                        {{ "is_required" | translate }}
                    </small>
                    <small class="form-text error" *ngIf="helperService.isWrongEmailPartern(email)">
                        {{ "wrong_email_pattern" | translate }}
                    </small>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">{{'save' | translate}}</button>
    </div>
</form>