<div class="modal-header">
    <h4 class="modal-title">
        <span *ngIf="!isEditMode">{{'add_product' | translate }}</span>
        <span *ngIf="isEditMode">{{'edit_product' | translate }}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #dataForm="ngForm" (ngSubmit)="onClickSaveBtn()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'code' | translate }}<i class="star">*</i></label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.code"
                    name="code" #code="ngModel"
                    (ngModelChange)="onChangeCodeValue(model.id, model.code)">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(code)">
                        {{ "is_required" | translate }}
                     </small>
                     <small class="form-text error" *ngIf="isDuplicatedCode">
                        {{ "duplicated_value" | translate }}
                     </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'name' | translate }}<i class="star">*</i></label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.name"
                     name="name" #name="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(name)">
                        {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'product_categories' | translate }}<i class="star">*</i></label>
                    <select class="form-control" required [(ngModel)]="model.productCategoryId" name="productCategory" #productCategory="ngModel">
                        <option [ngValue]="item.id" *ngFor="let item of allProductCategories | sort:'name' ">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'salePrice' | translate }}<i class="star">*</i></label>
                    <input type="number" autofocus class="form-control" required [(ngModel)]="model.salePrice"
                    name="salePrice" #salePrice="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(salePrice)">
                       {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'wholeSalePrice' | translate }}<i class="star">*</i></label>
                    <input type="number" autofocus class="form-control" required [(ngModel)]="model.wholeSalePrice"
                    name="wholeSalePrice" #wholeSalePrice="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(wholeSalePrice)">
                       {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{'imageUrl' | translate }}<i class="star">*</i></label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.imageUrlList"
                    name="imageUrlList" #imageUrlList="ngModel">
                    <small class="form-text error" *ngIf="helperService.isEmptyInput(imageUrlList)">
                       {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label>{{'description' | translate }}</label>
                <textarea rows="3" class="form-control" name="description" [(ngModel)]="model.description"></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!dataForm.form.valid || isDuplicatedForm()" >{{'save' | translate}}</button>
    </div>
</form>