<div class="dropdown" [autoClose]="false" ngbDropdown>
    <button type="button" class="btn btn-outline-primary btn-icon" ngbDropdownToggle>
            <i class="fa fa-th-list" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu showed-columns-button-dropdown" ngbDropdownMenu>            
      <li class="dropdown-item" *ngFor="let showedColumn of showedColumnList; let i = index">
        <span>
            <input class="mr-1" type="checkbox" name="checkbox{{i}}" [(ngModel)]="showedColumn.isShowed" />
            {{ showedColumn.translateKey | translate }}
        </span>
      </li>
    </ul>
  </div>